name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - 29.1
          - 29.4
          - 30.1
    steps:
    - uses: actions/checkout@v4

    - uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs_version }}

    - uses: conao3/setup-cask@master

    - name: Install dependencies
      run: cask install

    - name: Run tests
      run: cask exec buttercup -L .
